* { box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 72px;
  padding-right: 320px;
  text-transform: capitalize;
  padding-left: 20px;
  text-shadow: 2px 11px 5px rgba(0,0,0,.33);
}

h2 {
  font-size: 36px;
  color: #2a333c;
  background: white;
  margin: 0;
  padding: 50px calc((100% - 940px)/2);
  position: relative;
}

h2::before,
h2::after {
  content: '';
  position: absolute;
  background: #dddddd;
  top: 50%;
  transform: translateY(-50%);
}

h2::before {
  left: calc(50% - 500px);
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

h2::after {
  left: 0;
  width: calc(50% - 495px);
  height: 2px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h3,
p {
  margin: 0;
}

.container {
	width: 980px;
	margin: 0 auto;
  padding: 0 20px;
}

.button-more {
  display: block;
  padding: 0 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #c12127;
  text-align: center;
}

.button-more:hover {
  color: white;
  background-color: #c12127;
  border-color: #c12127;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);width: 1px;
    height: 1px;
    margin: -1px; padding: 0; border: 0;
}

.main-header {
  background: #982127 url('./img/bg-header.jpg') no-repeat;
  background-size: cover;
  color: white;
  padding-top: 26px;
  padding-bottom: 120px;
}

.main-header .container {
  padding: 0;
}

.main-header__menu { display: flex }

.main-header__menu-item {
	display: inline-block;
}

.main-header__menu-item:first-of-type {
	flex-grow: 1;
}

.main-header__link {
	color: white;
	text-decoration: none;
	padding: 0 20px;
	font-size: 14px;
	line-height: 47px;
	text-transform: uppercase;
	display: block;
}

.main-header__link:hover {
	color: #b50b1e;
}

.main-header__link--logo {
  font-family: 'Caviar Dreams Bold', arial;
  font-weight: bold;
  font-size: 36px;
  text-transform: lowercase;
}

.online-pleer {
	background: #b50b1e;
	font-weight: 400;
	font-size: 14px;
	color: white;
  padding: 11px 0;
}

.online-pleer__current-song {
  margin-left: 20px;
	width: 560px;
}

.online-pleer__button,
.online-pleer__current-song {
	display: inline-block;
	vertical-align: middle;
}

.online-pleer__button {
  background: none;
  border-radius: 50%;
  color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 16px;
  cursor: pointer;
}

.online-pleer__button:hover {
  background-color: #982127
}

.online-pleer__button--play {
  height: 58px;
  width: 58px;
  margin-left: 0;
}

.online-pleer__song-name {
  width: 475px;
  display: inline-block;
}

.online-pleer__song-timer {
  display: inline-block;
  width: 80px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  text-align: right;
}

.online-pleer__progress-bar {
	padding: 11px 0;
	position: relative;
}

.progress-bar__dot {
	position: absolute;
	width: 16px;
	height: 16px;
	background: white;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  z-index: 5;
  cursor: pointer;
}

.progress-bar__base-line,
.progress-bar__line {
  border-radius: 3px;
  height: 8px;
}

.progress-bar__line {
  position: absolute;
  bottom: 11px;
  width: 50%;
  background: #72040d;
}

.progress-bar__base-line {
	width: 100%;
	background: #000;
}

.genres-stations {
	padding-bottom: 40px;
}

.genres-stations__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.genres-stations__item {
	display: inline-block;
  margin-bottom: 25px;
}

.genres-stations__link,
.genres-stations__link-more {
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

.genres-stations__link {
  height: 180px;
  width: 220px;
  color: #2a333c;
  font-size: 18px;
  padding-top: 139px;
  padding-bottom: 13px;
  position: relative;
}

.genres-stations__link:hover {
	background: #e1e1e1;
}

.genres-stations__link-more {
	line-height: 40px;
	width: 300px;
	height: auto;
	margin: 12px auto 0;
	font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  color: #c12127;
}

.upcoming-events {
	background: #b40b1e url('./img/bg-events.jpg') no-repeat;
  background-size: cover;
	color: white;
  position: relative;
}

.upcoming-events::before {
	content: '';
	position: absolute;
	background: url('./img/people.png');
	width: 544px;
	height: 582px;
	left: 50%;
	bottom: 0;
	z-index: 10;
}

.upcoming-events .container {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}

.upcoming-events .container::before {
	content: '';
	position: absolute;
	bottom: 28px;
	width: 2px;
	left: 28px;
	background: white;
	top: 33px;
}

.upcoming-events__event {
	padding: 30px;
	padding-left: 42px;
	padding-right: 560px;
  position: relative;
}

.upcoming-events__event::before {
	content: '';
	position: absolute;
	top: 35px;
	left: 3px;
	background: white;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.upcoming-events__singer-name {
	font-size: 48px;
	padding: 12px 0;
}

.upcoming-events__event p {
	font-weight: 400;
	line-height: 24px;
}

.latest-news__item {
	width: 300px;
	display: inline-block;
	margin-right: 16px;
	padding: 20px 20px 30px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	color: #2a333c;
}

.latest-news__item:nth-of-type(3n) {
	margin-right: 0;
}

.latest-news-item__title {
  font-size: 18px;
  margin: 20px 0;
}

.latest-news-item__date {
	font-size: 11px;
	padding-left: 15px;
	position: relative;
}

.latest-news-item__date::before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #dddddd;
}

.latest-news-item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.latest-news-item__button-more {
	line-height: 31px;
	border: 1px solid #eee;
	margin-top: 28px;
	display: inline-block;
  border-radius: 2px;
}

.contact-us {
	padding-bottom: 60px;
	background: #30333c url('./img/bg-subscribe.jpg') no-repeat;
  background-size: cover;
	color: white;
}

.contact-us p {
  font-size: 18px;
  line-height: 24px;
}

.contact-us .container {
  padding-right: 340px;
}

.contact-us__title {
	font-family: 'Lora', serif;
	font-size: 60px;
	text-shadow: 0 7px 15px rgba(0,0,0,.40);
	padding-top: 25px;
	line-height: 92px;
}

.contact-us__form {
  margin-top: 30px;
  position: relative;
}

.contact-us__email-input {
	width: 100%;
	line-height: 60px;
	padding: 0 140px 0 20px;
	border-radius: 3px;
	border: none;
}

.contact-us__submit-button {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: #b50b1e;
	text-transform: uppercase;
	line-height: 50px;
	padding: 0 16px;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 3px;
	font-weight: bold;
}

.contact-us__submit-button:hover {
	background: #cc2235;
}

.main-footer__copyright,
.main-footer__socials {
  display: inline-block;
  line-height: 100px;
  vertical-align: middle;
}

.main-footer__copyright {
	margin-right: 200px;
  color: #2a333c;
}

.main-footer-socials__item {
	display: inline-block;
	vertical-align: middle;
  margin: 0 8px;
}

.main-footer-socials__link {
	display: block;
	width: 60px;
	height: 60px;
  position: relative;
}

.online-pleer__button--play,
.online-pleer__button--volume,
.online-pleer__button--prev,
.online-pleer__button--next,
.online-pleer__button--repeat,
.online-pleer__button--playlist,
.genres-stations__link--trending::before,
.genres-stations__link--rock::before,
.genres-stations__link--rnb::before,
.genres-stations__link--alternative::before,
.genres-stations__link--country::before,
.genres-stations__link--pop::before,
.genres-stations__link--jazz::before,
.genres-stations__link--reggae::before,
.main-footer-socials__link::before {
  background: url('./img/sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.genres-stations__link::before,
.main-footer-socials__link::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.online-pleer__button--play { background-position: -10px -772px; }
.online-pleer__button--volume { background-position: -10px -1040px; }
.online-pleer__button--prev { background-position: -10px -940px; }
.online-pleer__button--next { background-position: -10px -840px; }
.online-pleer__button--repeat { background-position: -10px -990px; }
.online-pleer__button--playlist { background-position: -10px -890px; }

.genres-stations__link--trending::before {
  background-position: -10px -546px;
  width: 67px;
  height: 71px;
}

.genres-stations__link--rock::before {
  background-position: -10px -199px;
  width: 83px;
  height: 82px;
}

.genres-stations__link--rnb::before {
  background-position: -10px -0px;
  width: 99px;
  height: 94px;
}

.genres-stations__link--alternative::before {
  background-position: -10px -627px;
  width: 64px;
  height: 67px;
}

.genres-stations__link--country::before {
  background-position: -10px -380px;
  width: 70px;
  height: 70px;
}

.genres-stations__link--pop::before {
  background-position: -10px -104px;
  width: 85px;
  height: 85px;
}

.genres-stations__link--jazz::before {
  background-position: -10px -460px;
  width: 68px;
  height: 76px;
}

.genres-stations__link--reggae::before {
  background-position: -10px -291px;
  width: 76px;
  height: 79px;
}

.main-footer-socials__link--tw::before {
  background-position: -60px -840px;
  width: 24px;
  height: 19px;
}

.main-footer-socials__link--in::before {
  background-position: -60px -869px;
  width: 23px;
  height: 23px;
}

.main-footer-socials__link--pi::before {
  background-position: -60px -902px;
  width: 22px;
  height: 27px;
}

.main-footer-socials__link--yo::before {
  background-position: -60px -939px;
  width: 22px;
  height: 16px;
}

.main-footer-socials__link--fb::before {
  background-position: -84px -627px;
  width: 15px;
  height: 28px;
}
